<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="about-us-body">

    <h1 class="new-main-heading">The Online ElectronicStore Group</h1>
    <p class="new-main-content">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The Online ElectronicStore Group is one of India's Leading digital commerce entities and includes group companies Flipkart, mantra, and ANS commerce</p>

    <h1 class="new-culture-heading">Online ElectronicStore Group Culture</h1>
    <p class="new-culture-content">&nbsp; &nbsp; &nbsp; Online ElectronicStore Group Culture is steeped in fostering trust, inclusion, support, recognition, and genuine care that enables Flipsters to create, innovate, and bring their best selves to work</p>

    <h1 class="new-innovation-heading">Innovation</h1>
    <p class="new-innovation-content">
        &nbsp; &nbsp; &nbsp; Online ElectronicStore Group technology drives path-breaking, customer-focused innovation that makes high-quality products accessible to India shoppers, making the online shopping experience seamless
    </p>

</body>
</html>
