<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Reset Password {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login-body" style="background-image: url('{% static 'image/bg1.jpg' %}'); background-size: cover; background-position: center;">

<div class="user-login">
    <form action="" method="post" novalidate class="user-login-form">

        <img src="{% static 'image/resetpassword.png' %}" alt="User Icon" class="user-icon" >

        {% csrf_token %}
        {% if form %}
            {% for f in form %}
                <div class="user-form-div">
                    {{ f.label_tag }}{{ f }}<small class="Danger">{{ f.errors|striptags }}</small>
                </div>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Reset Password" class="login-submit">
        <div class="all-user-login">
        <h6>Remembered your password? Click here to <a href="{% url 'login' %}">Login</a></h6>
    </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}

</div>
</body>
</html>
