<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Confirm</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body  class="login-body" style="background-image: url('{% static 'image/login-bg.jpg' %}'); background-size: cover; background-position: center;">
    <div class="login-user">
        <form action="" method="post" novalidate class="user-login-form">
            <img src="{% static 'image/sign-in.png' %}" alt="User Icon" class="user-icon">
            {% csrf_token %}
            {% if form %}
            {% for f in form %}
            <div class="user-form-div">
                {{ f.label_tag }}{{ f }}<small class="Danger">{{ f.errors|striptags }}</small>
            </div>
            {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
            <div class="user-form-div">
                {% for error in form.non_field_errors %}
                <small class="Danger">{{ error|striptags }}</small>
                {% endfor %}
            </div>
            {% endif %}
            <input type="submit" value="Save Password" class="login-submit">
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="message">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>
