
{% extends 'app/base.html' %}
{% load static %}
{% block title %} Tablet {% endblock%}


{% block body %}

<div class="category-filter">
    <div class="category-company" style="background-image: url('{% static 'image/plains.jpg' %}'); background-size: cover; background-position: center;">
        <h3 align="left">TITLE</h3>
        <ul>
             <li> <a href="{% url 'tablet' 'A-Z' %}">A-Z</a></li>
            <li> <a href="{% url 'tablet' 'Apple' %}"> Apple </a></li>
            <li> <a href="{% url 'tablet' 'Samsung' %}"> Samsung </a></li>
            <li> <a href="{% url 'tablet' 'OnePlus' %}"> OnePlus </a></li>
            <li> <a href="{% url 'tablet' 'Realme' %}"> Realme </a></li>
            <li> <a href="{% url 'tablet' 'Asus' %}"> Asus </a></li>

        </ul>
        <h3 align="left">PRICE</h3>
        <ul>
            <li> <a href="{% url 'tablet' 'Low-High' %}">Low-High</a></li>
            <li> <a href="{% url 'tablet' 'High-Low' %}">High-Low</a></li>
            <li> <a href="{% url 'tablet' 'Above' %}"> Above 10000</a></li>
            <li> <a href="{% url 'tablet' 'Below' %}"> Below 10000 </a></li>
        </ul>

    </div>
    <div class="category-side"style="background-image: url('{% static 'image/login-bg.jpg' %}'); background-size: cover; background-position: center;">

            {% if data %}
             <h1 style="text-align: center; height: 25px; font-size: 35px;">Tablet</h1>
         <div class="product-container" style="background-image: url('{% static 'image/plain.jpg' %}'); background-size: cover; background-position: center;" >
            {% for product in data %}

            <div class="img">

                  <div class="product-item">
                      <div class="img">
                           <a href="{% url 'product-details' product.id  %}">
              <img src="{{ product.product_image.url }}" alt="{{ product.title }}">
                               </a>
                        </div>

            <h3>{{product.title}}</h3>
            <p class="r">Brand : {{ product.brand }}</p>
            <p class="p3">Selling Price : {{ product.selling_price }}</p>
            <p class="p4">Discount Price {{ product.discount_price }}</p>
        </div>
    </div>

    {% endfor %}
            {% else %}
            <h1 align="center">Data not found</h1>
    {% endif %}

    </div>
</div>

</div>
{% endblock %}
