
{% extends 'app/base.html' %}
{% load static %}
{% block title %} TV {% endblock %}


{% block body %}

<div class="category-filter">
    <div class="category-company" style="background-image: url('{% static 'image/plains.jpg' %}'); background-size: cover; background-position: center;">
        <h3 align="left">Brand Filter</h3>
        <ul>
             <li> <a href="{% url 'tv' 'A-Z' %}">A-Z</a></li>
            <li> <a href="{% url 'tv' 'Lg' %}"> Lg</a></li>
            <li> <a href="{% url 'tv' 'Samsung' %}"> Samsung </a></li>
            <li> <a href="{% url 'tv' 'Mi' %}"> Mi </a></li>
            <li> <a href="{% url 'tv' 'OnePlus' %}"> OnePlus </a></li>
            <li> <a href="{% url 'tv' 'Sony' %}"> Sony </a></li>

        </ul>
        <h3 align="left">PRICE</h3>
        <ul>
            <li> <a href="{% url 'tv' 'Low-High' %}">Low-High</a></li>
            <li> <a href="{% url 'tv' 'High-Low' %}">High-Low</a></li>
            <li> <a href="{% url 'tv' 'Above' %}"> Above 15000</a></li>
            <li> <a href="{% url 'tv' 'Below' %}"> Below 15000 </a></li>
        </ul>
    </div>
    <div class="category-side" style="background-image: url('{% static 'image/login-bg.jpg' %}'); background-size: cover; background-position: center;">
        {% if data %}
        <h1 style="text-align: center; height: 25px; font-size: 35px;">TV</h1>
        <div class="product-container" style="background-image: url('{% static 'image/plain.jpg' %}'); background-size: cover; background-position: center;">

            {% for product in data %}

            <div class="img">

                  <div class="product-item">
                      <div class="img">
                           <a href="{% url 'product-details' product.id  %}">
              <img src="{{ product.product_image.url }}" alt="{{ product.title }}">
                               </a>
                        </div>

            <h3>{{product.title}}</h3>
            <p class="r">Brand : {{ product.brand }}</p>
            <p class="p3">Selling Price : {{ product.selling_price }}</p>
            <p class="p4">Discount Price {{ product.discount_price }}</p>
        </div>
    </div>

    {% endfor %}
    {% endif %}

    </div>
</div>

</div>
{% endblock %}
